
	.dms-container label {
		font-size: 16px;
		color: #000;
	}
	.dms-container select {
		width: auto;
		border-width: 1px;
		border-radius: 0px 0px 0px 0px;
		border-style: dashed;
		border-color: #ccc;
		font-size: 16px;
		color: #81d742;
		background-color : #fff;
	}